<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<app-registries></app-registries>

<router-outlet></router-outlet>

<div mdcHeadline3>ToDos</div>
<mdc-card>
  <mdc-list>
      <mdc-list-item>Agregar el menu con registros y cuentas</mdc-list-item>
      <mdc-list-item>Agregar el crud de cuentas</mdc-list-item>
      <mdc-list-item>Agregar filtro a los registros</mdc-list-item>
  </mdc-list>
</mdc-card>