<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenida mi espocita hermosa a {{ title }}!
  </h1>
</div>

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner" style="max-width: 1500px; margin: auto">
      <div class="mdc-layout-grid__cell--span-8"><app-registries></app-registries></div>
      <div class="mdc-layout-grid__cell--span-4"><app-accounts></app-accounts></div>
    </div>
  </div>

<router-outlet></router-outlet>

<div mdcHeadline3>ToDos</div>
<mdc-card>
  <mdc-list>
      <mdc-list-item>Agregar el total de cuentas</mdc-list-item>
      <mdc-list-item>Pensar en poner botones para las cuentas? mejorar el diseno (una lista mas bonito?)</mdc-list-item>
      <mdc-list-item>Agregar filtro a los registros</mdc-list-item>
      <mdc-list-item>Agregar el menu con registros y cuentas - No es seguro que se anada</mdc-list-item>
  </mdc-list>
</mdc-card>

<div mdcHeadline3>Done</div>
<mdc-card>
  <mdc-list>
      <mdc-list-item>04.08.2019: Mostrar los saldos de las cuentas</mdc-list-item>
      <mdc-list-item>03.08.2019: Agregar cuenta ingreso y salida a la tabla</mdc-list-item>
      <mdc-list-item>03.08.2019: Agregar los campos de cuenta ingreso y cuenta salida en registros</mdc-list-item>
      <mdc-list-item>Agregar el crud de cuentas</mdc-list-item>    
      <mdc-list-item>Se creo el RestApi de cuentas (Account)</mdc-list-item>
  </mdc-list>
</mdc-card>