
  
  .demo-card__primary {
    padding: 1rem;
  }
  
  .demo-card__title {
    margin: 0;
  }
  

  
  .demo-card__media--16-9 {
    background-image: url(https://material-components-web.appspot.com/images/16-9.jpg);
  }